@font-face {
  font-family: 'chronicnormal';
  src: url('./fonts/chronic-normal-webfont.woff2') format('woff2'),
       url('./fonts/chronic-normal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'objectiveregular';
  src: url('./fonts/objective-regular-webfont.woff2') format('woff2'),
       url('./fonts/objective-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}
@font-face {
  font-family: 'objectivebold';
  src: url('./fonts/objective-bold-webfont.woff2') format('woff2'),
       url('./fonts/objective-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}